<div class="containerBlog">
    <div class="header">
        <div class="logo">Angular blog</div>
        <div class="buttonsHeader">
            <input class="btn btn-primary btn-warning" type="submit" value="Add post">
            <input class="btn btn-primary bg-success" type="button" value="Sign In">
            <input class="btn btn-primary bg-secondary" type="submit" value="Sign Up">
        </div>
    </div>
    <div class="main">
        <table>
            <tbody>
                <tr class="post">
                    <div class="content">
                        <div class="title">First blog</div>
                        <div class="author">
                            <p>Posted by: Roman</p>
                        </div>
                        <div class="text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam possimus unde
                            illo ratione iusto qui vitae, optio ipsum reprehenderit, quod minus est veniam libero
                            consequatur excepturi quaerat mollitia dolorum quis!</div>

                    </div>
                    <div class="time">29.05.20458</div>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="footer">Footer</div> -->
    <footer>Footer</footer>
</div>

<!-- Modal Sign In -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>


<div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
<!--  -->
