<div class="containerBlog">
    <div class="header">
        <div class="logo">Angular blog</div>
        <div class="buttonsHeader">
            <input class="btn btn-primary bg-success" type="button" value="Sign In">
            <input class="btn btn-primary bg-secondary" type="submit" value="Sign Up">

        </div>
    </div>
    <div class="main">
        <table>
            <tbody>
                <tr class="post">
                    <div class="content">
                        <div class="title">First blog</div>
                        <div class="author">
                            <p>Posted by: Roman</p>
                        </div>
                        <div class="text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam possimus unde
                            illo ratione iusto qui vitae, optio ipsum reprehenderit, quod minus est veniam libero
                            consequatur excepturi quaerat mollitia dolorum quis!</div>

                    </div>
                    <div class="time">29.05.20458</div>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="footer">Footer</div> -->
    <footer>Footer</footer>
</div>